{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'Comment/css/Self-Style.css' %}">
    <link rel="stylesheet" href="{% static 'Comment/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Comment/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Comment/vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'Comment/vendor/chartist/css/chartist-custom.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'Comment/css/main.css' %}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="{% static 'Comment/css/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Comment/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'Comment/img/Logo_tiny.png' %}">


    {% if title %}
    <title>Django Comment - {{ title }}</title>
    {% else %}
    <title>Django Comment</title>
    {% endif %}

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            {% if user.is_authenticated %}
                <a href="{% url 'Comment-Page' %}"><img src="{% static 'Comment/img/Logo.png' %}" alt="Logo" class="img-responsive logo" height="120" width="120"></a>
            {% else %}
                <a href="#"><img src="{% static 'Comment/img/Logo.png' %}" alt="Logo" class="img-responsive logo" height="120" width="120"></a>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-users"></i><span>User</span><i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}" title="Profile"><i class="lnr lnr-user"></i><span>Profile</span></a></li>
                                <li><a href="{% url 'logout' %}" title="Log Out"><i class="lnr lnr-exit"></i><span>Log Out</span></a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}" title="Log In"><i class="lnr lnr-enter"></i><span>Log In</span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                     {% block content-title %} {% endblock %}
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Article</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'post-create' %}"><i class="lnr lnr-pencil"></i>  Create new</a></li>
                                <li><a href="{% url 'logout' %}"><i class="lnr lnr-exit"></i>  Log out</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}"><i class="lnr lnr-enter"></i> Log In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main" style="min-height: 600px;">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %} {% endblock %}
        </div>
    </div>

    <div class="clearfix"></div>
    <br>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2020 FYP - PJR </p>
        </div>
    </footer>
</div>

<script src="{% static 'Comment/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Comment/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Comment/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'Comment/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'Comment/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'Comment/scripts/klorofil-common.js' %}"></script>

</body>
</html>